<% @stuff.each do |stuff| %>
  <div>
    <h1><%= stuff.name %></h1><br />
    <i><%= stuff.address %></i><br />
    <p><%= stuff.description %></p><br />
  </div>

  <hr />
<% end %>

<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1><font style="color:#173DC2;">Look at this mountain!</font></h1>
    <br />
    <h2><font style="color:#173DC2;">Enjoy the view!</font></h2>
    <br />
    <!-- <%= link_to 'Learn More', '#', class: 'btn btn-success' %> -->
    <br /><br />
  </div>
</div>
