<% @stuff.each do |stuff| %>
  <div>
    <h1><%= stuff.name %></h1><br />
    <i><%= stuff.address %></i><br />
    <p><%= stuff.description %></p><br />
  </div>

  <hr />
<% end %>

<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Look at this mountain!</h1>
    <br />
    <h2>Enjoy the view!</h2>
    <br />
    <!-- <%= link_to 'Learn More', '#', class: 'btn btn-success' %> -->
    <br /><br />
  </div>
</div>
